@tailwind base;
@tailwind components;
@tailwind utilities;
/*
'/<ファイル名>'だとpublic参照、
'./<ファイル名>'だとassets参照
*/
@font-face {
  font-family: keifont;
  src: url('/keifont.ttf');
}

#app {
    margin: 90px auto;
    padding: 1rem;
    justify-items: top;
}
body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
  }
