@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: keifont;
  src: url('./keifont.ttf');
}

#app {
    margin: 90px auto;
    padding: 1rem;
    justify-items: top;
    background-image: url('/model.webp');
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    background-size: contain;
    background-repeat: no-repeat;
}
body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
  }
